.top {
    margin-top: 20px;
}

.centered {
    text-align: center;
}


.form_class {
    margin-bottom: 10px;
}
#main_img {
    margin-top: 10px;
    border: 4px solid #ffffff;
    padding: 15px;
}

.form-label {
    margin-right: 10px;
}

.nav-hover: hover {
    background-color: '#ffffff';
}

/* #lookup_search_field {
    background-image: url("static/images/search.svg");
} */

input {
    /* text-indent: 20px; */
    background-image: url();
}

.red {
    color: #db0000;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}

.smallest {
    font-size: 0.8em
}
