{% extends "layout.html" %}

{% block title %} - Add New Staff{% endblock %}

{% block main %}

    {% if staff_added %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            New staff member added successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <form class="centered top" action="/add_new_staff" method="post">
        <h2>Add New Staff Member</h2>

        <label class="form-label top">First Name</label><br>
        <input name="first_name" type="text" placeholder="First Name" autofocus autocomplete="off" class="form_class" title="Please Enter First Name" required><br>
        <label class="form-label top">Last Name</label><br>
        <input name="last_name" type="text" placeholder="Last Name" autofocus autocomplete="off" class="form_class" title="Please Enter Last Name" required><br>
        <label class="form-label top">Department</label><br>
        <select name="department" title="Please select department from drop-down list" required>
            <option disabled selected>Select Department</option>
            {% for department in departments %}
                <option value="{{ department }}">{{ department }}</option>
            {% endfor %}
        </select><br>
        <label class="form-label top">Title</label><br>
        <input name="title" type="text" placeholder="Title" autocomplete="off" class="form_class" title="Please Enter Title/Position" required><br>
        <label class="form-label top">Salary</label><br>
        <!-- <input name="salary" type="number" placeholder="Salary" min="0" step=".01" class="form_class"><br> -->
        <input type="text" name="salary" placeholder="$0.00" pattern="^\d+(\.\d{1,2})?$" title="Enter a valid currency amount" required><br>
        <label class="form-label top">Start Date</label><br>
        <input value="{{ today }}" name="start_date" type="date" placeholder="Start Date" autocomplete="off" class="form_class" title="Please Select Start Date" required><br>
        <button class="btn btn-primary top" type="submit" class="form_class">Add Staff Member</button>

    </form>
    <!-- Card -->
    <!-- <div class="card text-center" style="width: 18rem;">
        <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
    <!-- <img alt="stock photo" src="https://picsum.photos/200/300" style="margin-right: auto; margin-left: auto;" class="centered"> -->


{% endblock %}