{% extends "layout.html" %}

{% block main %}
    {% if email_sent %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> Success!</strong> The csv file you requested was sent to your e-mail!  <img src="static/images/send-green.svg" style="margin-bottom: 3px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <!-- SELECT DEPARTMENT -->
    <form class="centered top" action="/departments" method="post">
        <h2>Departments</h2>
        <select name="department" class="form-select top">
            <option class="centered" disabled selected>SELECT DEPARTMENT</option>
            <option value="all">All Departments</option>
            <optgroup label="Departments">
                {% for department in departments %}
                    <option value="{{ department }}">{{ department }}</option>
                {% endfor %}
            </optgroup>
        </select>
        <br>
        <!-- SORT BY -->
        <!-- <label for="form">Sort</label> -->
        <select name="sort_by" class="form-select form-select-sm top">
            <option disabled selected>Sort By</option>
            {% for column in columns %}
                <option name="sort_by" value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary top">Select Department</button>

    <hr>
    </form>

    {% if display_results %}
        <div>
            <!-- Export as csv -->
            <form action="/csv_export" method="post">
                <div style="float: right">
                    <input type="email" name="email" placeholder="Enter E-mail to receive csv" required>
                    <button class="btn btn-secondary" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .75rem; margin-right: 10px;">Export as CSV <img src="static/images/mail-offwhite.svg" style="margin-bottom: 3px;"></button>
                    <!-- <button class="btn btn-secondary" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .75rem; float: right; margin-right: 10px;">Export as CSV</button> -->
                </div>
            </form>
            {% if results['department_selected'] == 'all' %}
                <small class="left">Showing results for: 'All Departments' sorted by '{{ results['sort_by'] }}'</small><br>
            {% else %}
                <small class="left">Showing results for: '{{ results['department_selected'] }}' sorted by '{{ results['sort_by'] }}'</small><br>
            {% endif %}
            <small class="left">Results: {{ results['num_of_results'] }}</small>
        </div>
    {% endif %}

    <!-- TABLE -->
    <br>
    <table class="table table-primary table-striped table-hover centered top">
        <thead>
            {% for column in columns %}
            <th>{{column}}</th>
            {% endfor %}
        </thead>
        <tbody class="table-group-divider">
            {% for person in staff %}
                <tr>
                    {% for key in person %}
                        <td>{{ person[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

