{% extends "layout.html" %}

{% block title %} - Departments{% endblock %}

{% block main %}
    {% if email_sent %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> Success!</strong> The csv file you requested was sent to your e-mail!  <img src="static/images/send-green.svg" style="margin-bottom: 3px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% elif departments_blank %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            You chose a sort criteria, but did not choose a department to sort!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif landing_page %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Choose a deparment... (and also sort criteria if you wish)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif form_blank %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            You must choose a department!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <!-- SELECT DEPARTMENT -->
    <div class="container" style="width: 25%">
        <form class="centered top" action="/departments" method="post">
            <h2>Departments</h2>
            <select name="department" class="form-select top">
                <option class="centered" disabled selected>SELECT DEPARTMENT</option>
                <option value="all">All Departments</option>
                <optgroup label="Departments">
                    {% for department in departments %}
                        <option value="{{ department }}">{{ department }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <br>
            <!-- SORT BY -->
            <!-- <label for="form">Sort</label> -->
            <select name="sort_by" class="form-select form-select-sm top">
                <option disabled selected>Sort By</option>
                {% for column in columns %}
                    {% if column == 'Employee ID' %}
                        <option name="sort_by" value="{{ column }}">{{ column }} (Default)</option>
                    {% else %}
                        <option name="sort_by" value="{{ column }}">{{ column }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary top">Select Department</button>
        </form>
    </div>
    <hr>

    {% if display_results %}
        <div class="container-fluid">

            <!-- CSV -->
            <div style="float: right">

                <!-- Export as csv -->
                <form action="/csv_export" method="post">
                    <div style="float: right">
                        <input type="email" name="email" placeholder="Enter E-mail to receive CSV" required autocomplete="off">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-secondary" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .76rem; margin-right: 10px; margin-bottom: 5px;">E-Mail as CSV <img src="static/images/mail-offwhite.svg" style="margin-bottom: 3px;"></button>
                    </div>
                </form>

                <!-- Download CSV -->
                <form action="/csv_export" method="post">
                    <div style="float: right">
                        <input name="download_csv" type="hidden" value="True">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-secondary" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .73rem; margin-right: 10px; margin-top: 3px;">Download CSV <img src="static/images/download.svg" style="margin-bottom: 3px;"></button>
                    </div>
                </form>

            </div>

            <!-- Results -->
            {% if results.department == 'all' %}
                <small class="left">Showing results for: <b>'All Departments'</b> sorted by <b>'{{ results.sort_by }}'</b> ({{ results.asc_desc }})
                </small><br>
            {% else %}
                <small class="left">Showing results for: <b>'{{ results.department }}'</b> sorted by <b>'{{ results.sort_by }}'</b> ({{ results.asc_desc }})
                </small><br>
            {% endif %}
            <small class="left">Results: {{ results.num_of_results }}</small>

        </div>
    {% endif %}


    <!-- TABLE -->
    <br>
    <table class="table table-primary table-striped table-hover centered top">
        <thead>
            <tr>
                {% for column in columns %}
                    <form action="/departments" method="post">
                        <th>{{column}}
                            <input name="resort_by" type="hidden" value="{{ column }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button name="asc_desc" value="ascending" class="btn btn-light" style="--bs-btn-padding-y: .005rem; --bs-btn-padding-x: .05rem; --bs-btn-font-size: .75rem; margin-bottom:5px">&#8593</button><button name="asc_desc" value="descending" class="btn btn-light" style="--bs-btn-padding-y: .005rem; --bs-btn-padding-x: .05rem; --bs-btn-font-size: .75rem; margin-bottom:5px">&#8595</button>
                        </th>
                    </form>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for person in staff %}
                <tr>
                    {% for key in person %}
                        <td>{{ person[key] }}</td>
                    {% endfor %}
                </tr>
            {% else %}
                <!-- else in for loop works like django empty statement -->
                <div class="centered"><small>No results to display yet</small></div>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

