{% extends "layout.html" %}

{% block title %} - Former Staff{% endblock %}

{% block main %}

    <!-- Header -->
    <div class="centered top">
        <h2>Former Staff </h2>
    </div>

    <!-- Table -->
    <table class="table table-primary centered top">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for person in former_staff %}
                <tr>
                    {% for key in person %}
                        {% if person[key] == None %}
                            <td>--</td>
                        {% else %}
                            <td>{{ person[key] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                <div class="centered"><small>No results to display</small></div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}