{% extends "layout.html" %}

{% block main %}

    {% if 'user_id' not in session %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Register or Login!</strong>
            <hr>
            If you do not wish to register, you may use USERNAME: demo123 PASSWORD: demo123Pass1!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}


    <div class="centered">
        <h1 class="top" style="margin-top">Staff Records Database</h1>
        <img id="main_img" alt="filing cabinet" src="static/images/filing_cabinet.jpg">
    </div>

{% endblock %}
