{% extends "layout.html" %}

{% block title %} - Password Reset{% endblock %}

{% block main %}

    <!-- Alerts -->
    {% if answer_incorrect %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>The answer you typed in was incorrect!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif show_page3 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Answer accepted!</strong> You may now change your password
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% elif passwords_did_not_match %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            The password you entered <strong>did not match the confirmation.</strong> You may try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% elif username_not_found %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>The username you entered did not match any username in our database.</strong> You may try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <!-- Pages -->
    {% if show_page3 %}

        <!-- PAGE 3 -->
        <small class="left">Page 3 of 3</small>

        <!-- Heading -->
        <h2 class="centered top">Password Reset</h2>
        <div class="container-md" style="width: 33%">
            <form class="centered top" action="/password_reset" method="post">
                <h4>Username: {{ username }}</h4>

                <label class="form-label top">New Password</label><br>
                <input name="new_password" type="password" placeholder="Password" required><br>

                <label class="form-label top">Confirm Password</label><br>
                <input name="confirmation" type="password" placeholder="Confirmation" required><br>
                <button class="btn btn-success top">Submit New Password</button>
            </form>
        </div>

    {% elif show_page2 %}

        <!-- PAGE 2 -->
        <small class="left">Page 2 of 3</small>

        <!-- Heading -->
        <h2 class="centered top">Password Reset</h2><br>
        <div class="container-md" style="width: 33%">
            <form class="centered top" action="/password_reset" method="post">
                <h4>SECURITY QUESTION:</h4>
                <h5>{{ security_question }}</h5>

                <label class="form-label top">Answer Security Question</label><br>
                <input name="security_answer" type="password" placeholder="Enter Answer Here" required><br>
                <button class="btn btn-primary top">Submit Answer</button>
            </form>
        </div>


    {% else %}

        <!-- PAGE 1 -->
        <small class="left">Page 1 of 3</small>

        <!-- Heading -->
        <h2 class="centered top">Password Reset</h2><br>
        <div class="container-md" style="width: 33%">
            <form class="centered top" action="/password_reset" method="post">

                <label class="form-label top">Username</label><br>
                <input name="username" type="text" placeholder="Enter Username" autofocus autocomplete="off" required><br>
                <button class="btn btn-primary top">Submit</button>
            </form>
        </div>

    {% endif %}

{% endblock %}