{% extends "layout.html" %}

{% block title %} - Lookup{% endblock %}

{% block main %}

    <!-- Alert -->
    {% if no_results %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            No results matched your query for '{{ results['search'] }}' in {{ results['column'] }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <!-- Header -->
    <div class="centered top">
        <h2>Staff Look Up <img src="static/images/search.svg" width="34" style="margin-bottom:5px"> </h2>
        <small>This search allows you to type in <i>partial information</i> and we will find all that match!</small>
    </div>


    <form class="centered top" action="/staff_lookup", method="post">

        <!-- DROP DOWN MENU -->
        <select name="column">
            {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <input name="search" type="text" placeholder="Search" style="background-image:"><br>
        <button class="btn btn-primary top">Look Up</button>
    </form>

    {% if found %}
        <!-- Results -->
        <hr>
        <small class="left">{{ results['num_of_results'] }} Results matched your query for <b>'{{ results['search'] }}'</b> in <b>{{ results['column'] }}</b>.</small>
        <br>
        <!-- Table of results -->
        <table class="table table-primary centered top">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for employee in staff %}
                    <tr>
                        {% for key in employee %}
                            <td>{{ employee[key] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}