{% extends "layout.html" %}

{% block title %} - Visualization{% endblock %}

{% block main %}

    <!-- TOGGLE BUTTONS -->
    <div class="centered">
        <form action="/pie_chart_toggle" method="post">
            <input type="hidden" name="toggle" value="sum_mean">
            <button id="sum_mean_btn" type="submit" class="btn btn-primary top">Change to {{ pie_chart.sum_mean }}</button>
        </form>
    </div>

    <div class="centered">
        <form action="/pie_chart_toggle" method="post">
            <input type="hidden" name="toggle" value="percentage_value">
            <button type="submit" class="btn btn-primary top">Change to {{ pie_chart.percentage_value }}</button>
        </form>
    </div>

    <!-- PIE CHART -->
    <div class="centered top">
        <img id="pie_chart" alt="pie chart (sum salaries per department)" src="{{ pie_chart.file_path }}">
    </div>



{% endblock %}