{% extends "layout.html" %}

{% block title %} - Visualization{% endblock %}

{% block main %}

    <div class="centered">
        <h1 class="top" style="margin-top">Salary Distribution by Department</h1>
        <h4 class="top" style="margin-top">(Choose sum or average salary)</h4>
    </div>
    <div class="centered">
        <form action="/visualization" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="sum_mean" value="sum">
            <button type="submit" class="btn btn-primary top">Sum Salary by Department</button>
        </form>
    </div>

    <div class="centered">
        <form action="/visualization" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="sum_mean" value="mean">
            <button type="submit" class="btn btn-primary top">Mean Salary by Department</button>
        </form>
    </div>



{% endblock %}